<h1>Welcome!</h1>
<div>
    <ul>
        <li>
        <a href="/celebrities">Go to the Celebrities</a>
        </li>
        <li>
        <a href="/celebrities/new">Create a new Celeberity</a>
        </li>
        <li>
        <a href="/movies/">Go to the Movies</a>
        </li>
        <li>
        <a href="/movies/new">Create a new Movie</a>
        </li>   
    </ul>
</div>

